.name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-top: 5px;
}

header{
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    color: blueviolet;
    margin: 10px;
}


    
    
